body{
    background-color: pink;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.box{
    height: 40px;
    width: 40px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}